@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Nixie+One|Monda|Text+Me+One|Megrim|Raleway);

/*******************************************
GENERAL
********************************************/

body {
  font-family: 'Raleway', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/*******************************************
HEADING
********************************************/

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Megrim';
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1.75em;
}

h2 {
  font-family: 'Raleway';
  font-size: 0.85em;
  margin: -15px 0 0;
  font-weight: normal;
}

/*******************************************
NAVIGATION
********************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0;
  font-family: 'Raleway';
  background-color: #588881;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

nav ul li a {
  font-weight: normal;
}

/*******************************************
FOOTER
********************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10px;
  clear: both;
}

.soc-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/*******************************************
PAGE: Portfolio
********************************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
}

#gallery li p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
}

/*******************************************
PAGE: About
********************************************/

.profile-pic {
  display: block;
  max-width: 250px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/*******************************************
PAGE: Contact
********************************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twit.png');
}

.contact-info li.face a {
  background-image: url('../img/face.png');
}

/*******************************************
COLORS
********************************************/

/* site body */
body {
  background-color: #FFF;
  color: #999;
}

/* site header */
header {
  background: #79BBB2;
}

h1, h2, nav a, nav:visited {
  color: #fff;
}

/* nav links [ACTIVE] */
nav a.selected, nav a:hover {
  color: #BFFFF6;
}