/*******************************************
SMART PHONES
********************************************/

@media screen and (min-width: 480px) {
  
  /*******************************************
  Two Column Layout
  ********************************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
  /*******************************************
  3 * 5 = 15
  100% - 15% = 85%
  85 / 3 = 28.333333333333
  ********************************************/
  
  /*******************************************
  PAGE: Portfolio
  ********************************************/
  
  #gallery li {
    width: 28.3333%;
  }
  
  #gallery li:nth-child(4n) {
    clear: left;
  }
  
  /*******************************************
  PAGE: About
  ********************************************/
  
  .profile-pic {
    float: left;
    margin: 0 5% 80px 0;
  }
  
  #wrapper {
    clear: both;
  }
}


/*******************************************
TABLETS
********************************************/

@media screen and (min-width: 660px) {
  
  /*******************************************
  Header
  ********************************************/
  
  nav {
    background: none;
    /*float: right;*/
    font-size: 1.125em;
    margin-left: 45%;
    text-align: right;
    width: 45%;
  }

}

@media screen and (min-width: 1224) {
  /*******************************************
  Header
  ********************************************/
  nav {
    left: 500px;
    float: left;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;    
  }
}